.landingContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
}

.card {
    border: none;
    padding: 20px;
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 20px; /* Adjust the border-radius as needed */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.874); /* Add box shadow for a raised effect */
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Increase the box shadow on hover */
}

.landingButton {
    background-color: #525CEB; 
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

h2 {
    color: white;
}